<html>
    <body>
        <script src='static/js/jsencrypt.js'></script>
        <script src='static/js/jquery.js'></script>
        <body style='text-align:center;'>
            <div id='tab1'>
                <input type='password' id='password'  name='password'/>
                <br>
                <input type='submit' id='submit'/>
            </div>
            <div id="tab2" hidden="true">
                <h1 id="UserAddr"></h1>
                <h1 id="LoginTime"></h1>
            </div>

            <script>

                var pubkey = "{{.PubKey}}"

                var sub = document.getElementById('submit')
                sub.onclick = (e)=>{
                    var encrypt=new JSEncrypt();
                    encrypt.setPublicKey(pubkey);
                    
                    var password = document.getElementById("password").value

                    var time = String(Date.now())
        
                    let token = "{{.Token}}"

                    let msg = password+"#"+time+"#"+token
                    let cmsg = encrypt.encrypt(msg)

                    $.ajax({
                        type: "POST",
                        url: "/verify",
                        data: JSON.stringify({'cmsg':cmsg}),
                        success: (e)=>{
                            // console.log(e)
                            if(e.UserAddr!=""){
                                document.getElementById("UserAddr").innerText = e.UserAddr
                                document.getElementById("LoginTime").innerText = e.UserLoginTime
                                document.getElementById("tab1").hidden = true
                                document.getElementById("tab2").hidden = false

                            }else {
                                alert("PASSWORD WRONG!!")
                            }
                        },
                        dataType: 'json'
                    });

                }



            </script>
        </body>
    </body>
</html>